body {
  margin: 0;
  font-family: Arial, sans-serif;
  line-height: 1.6;
}

.main{
		height:80%;
		width:80%
		border:2px solid black;
	}
}
.section1{
	height:80%;
	width:80%
	border:2px solid black;
}
